<html>

<body style="background-color:#e2e1e0;font-family: Open Sans, sans-serif;font-size:100%;font-weight:400;line-height:1.4;color:#000;">
<table style="max-width:670px;margin:50px auto 10px;background-color:#fff;padding:50px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);-moz-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24); border-top: solid 10px green;">
    <thead>
    <tr>
        <th style="text-align:left;font-size:20px;padding:30px 15px 0 15px;">{{appName}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="height:35px;"></td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:20px;padding:30px 15px 0 15px;">Hi,</td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:20px;padding:30px 15px 0 15px;">You're on your way!</td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:20px;padding:30px 15px 0 15px;"><p>Let's confirm your email address.</p></td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:15px;padding:30px 15px 0 15px;"><p>By clicking on the following link, you are confirming your email address.</p></td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:15px;padding:30px 15px 0 15px;"><p></p></td>
    </tr>

    <tr>
        <td colspan="2" style="box-sizing: border-box;padding: 0;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Helvetica, Arial, sans-serif;font-size: 16.0px;vertical-align: top;background-color: rgb(52,142,218);border-radius: 2.0px;text-align: center;" valign="top" bgcolor="#348eda" align="center"><a href={{verificationLink}} style="box-sizing: border-box;border-color: rgb(52,142,218);font-weight: 400;text-decoration: none;display: inline-block;margin: 0;color: rgb(255,255,255);background-color: rgb(52,142,218);border: solid 1.0px rgb(52,142,218);border-radius: 2.0px;cursor: pointer;font-size: 14.0px;padding: 12.0px 45.0px;" target="_blank">Confirm Email Address</a></td>
    </tr>

    <tr>
        <td colspan="2" style="font-size:15px;padding:30px 15px 0 15px;"><p>If you did not request to link this email address with {{appName}}, you can disregard this email. </p></td>
    </tr>
    </tbody>
    <tfooter>
        <tr>
            <td colspan="2" style="font-size:14px;padding:50px 15px 0 15px;text-align:center;">{{address}}<br>
            </td>
        </tr>
    </tfooter>
</table>
</body>

</html>