<html>

<body style="background-color:#e2e1e0;font-family: Open Sans, sans-serif;font-size:100%;font-weight:400;line-height:1.4;color:#000;text-align: center;">
    <form action="{{link}}" method="POST">
        <label >New Password:</label><br>
        <input style="width: 250px;height: 25px;margin: 10;" type="password" id="newPassword" name="password1" ><br>
        <label >Re-Enter New Password:</label><br>
        <input style="width: 250px;height: 25px;margin: 10;"type="password" id="ReEnteredPassword" name="password2"><br><br>
        <input style="width:70px;height: 25px;font-weight: bold;" type="submit" value="Submit">
      </form> 
</body>

</html>